@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color:#66e01a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  